<div class="row py-4">
    <div class="col d-flex justify-content-center">
        <img src="./assets/images/logo.png" alt="Logo">
    </div>
</div>
<div class="row pb-3">
    <div class="col d-flex justify-content-center">
        <h1>Recuperar contraseña</h1>
    </div>
</div>

<div class="row pb-3">
    <div class="col d-flex justify-content-center">
        <span>Recibirás un correo electrónico con una contraseña temporal</span>
    </div>
</div>

<div class="row">
    <div class="col d-flex justify-content-center">
        <form id="form-recover">
            <div class="mb-4">
                <label for="email" class="form-label">Correo</label>
                <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo" />
            </div>
            <button type="submit" (click)="recoverPassword(); $event.preventDefault()" class="btn btn-primary">Recuperar</button>
            <div class="d-flex justify-content-center pt-4">
                <a id="register" routerLink="/">¿Ya me acuerdo? <span style="font-weight: 500;">Log in</span></a>
            </div>
        </form>
    </div>
</div>
