<div class="registration-container">
  <div class="header">
    <img src="././assets/images/logo_web.png" alt="Logo">
    <h2 class="text_color">Crear una Cuenta</h2>
  </div>

  <form>
    <div class="form-group">
      <label for="nombre">Nombre:</label><br>
      <input type="text" id="nombre" name="nombre" required>
    </div><br>
    <div class="form-group">
      <label for="email">Correo:</label><br>
      <input type="email" id="email" name="email"  required>
    </div><br>
    <div class="form-group">
      <label for="contrasena">Contraseña:</label><br>
      <input type="password" id="contrasena" name="contrasena"  required>
    </div><br>
    <div class="form-group">
      <label for="confirmarContrasena">Confirmar Contraseña:</label><br>
      <input type="password" id="confirmarContrasena" name="confirmarContrasena" required>
    </div>
    <br><br>
    <div class="form-group divButton">
      <button type="submit" routerLink="/alarms">Crear Cuenta</button>
    </div>
  </form>

  <div class="divButton">
    <p>¿Ya tienes cuenta? <a href="/">Log In</a></p>
  </div>
</div>
