<div class="row py-4">
  <div class="col d-flex justify-content-center">
      <img src="./assets/images/logo.png" alt="Logo">
  </div>
</div>
<div class="row pb-5">
  <div class="col d-flex justify-content-center">
      <h1 class="text_color">Crear una Cuenta</h1>
  </div>
</div>

<div class="row">
  <div class="col d-flex justify-content-center">
      <form id="form-login">
        <div class="mb-3">
          <label for="email" class="form-label">Nombre</label>
          <input type="nombre" class="form-control" id="nombre" placeholder="Ingresa su  nombre" />
      </div>
          <div class="mb-3">
              <label for="email" class="form-label">Correo</label>
              <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo" />
          </div>
          <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <div class="input-group">
                  <input type="{{showPassword ? 'text' : 'password' }}" class="form-control form-floating input-password" id="password" placeholder="Ingresa tu contraseña" />
                  <span class="input-group-text">
                      <i class="bi" [ngClass]="{'bi-eye': !showPassword, 'bi-eye-slash': showPassword}" id="toggle-password" style="cursor: pointer" (click)="togglePasswordVisibility()"></i>
                  </span>
              </div>
          </div>
          <div class="mb-3">
            <label for="confirmarpassword" class="form-label">Confirmar Contraseña</label>
            <div class="input-group">
                <input type="{{showPasswordConfirmation ? 'text' : 'password' }}" class="form-control form-floating input-password" id="confirmarpassword" placeholder="Ingresa la confirmacion contraseña" />
                <span class="input-group-text">
                    <i class="bi" [ngClass]="{'bi-eye': !showPasswordConfirmation, 'bi-eye-slash': showPasswordConfirmation}" id="toggle-password" style="cursor: pointer" (click)="togglePasswordConfirmationVisibility()"></i>
                </span>
            </div>
        </div>

          <button type="submit" routerLink="/alarms" class="btn btn-primary">Crear Cuenta</button>

          <div class="d-flex justify-content-center pt-4">
              <a id="register" routerLink="/">¿Ya tienes cuenta? <span style="font-weight: 500;">Log In</span></a>
          </div>
      </form>
  </div>
</div>
