<div class="row pb-5">
    <div class="col d-flex justify-content-between align-items-center">
        <h1>Tus alarmas</h1>
        <button type="submit"class="btn btn-primary" routerLink="/createalarm">Agregar alarma</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" (click)="test()">Select</th>
                    <th scope="col" sortable="name" (sort)="onSort($event)">Nombre</th>
                    <th scope="col" sortable="arrival" (sort)="onSort($event)">Hora llegada</th>
                    <th scope="col" sortable="advance" (sort)="onSort($event)">Antelación</th>
                </tr>
            </thead>
            <tbody>
                @for (alarm of alarms; track alarm.id) {
                    <tr>
                        <th scope="row">{{ alarm.id }}</th>
                        <td><input type="checkbox" value="" [(ngModel)]="alarm.checked" (ngModelChange)="yourMethod()"></td>
                        <td>{{ alarm.name }}</td>
                        <td>{{ alarm.arrival }}</td>
                        <td>{{ alarm.advance }}</td>
                    </tr>
                }
            </tbody>
        </table>
        <nav id="pagination" class="d-flex justify-content-end align-items-baseline">
            <span class="pe-2">Total 30 items</span>
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" aria-label="Previous">
                    <i class="bi bi-chevron-left"></i>
                </a>
              </li>
              <li class="page-item active"><a class="page-link">1</a></li>
              <li class="page-item"><a class="page-link">2</a></li>
              <li class="page-item"><a class="page-link">3</a></li>
              <li class="page-item">
                <a class="page-link" aria-label="Next">
                    <i class="bi bi-chevron-right"></i>
                </a>
              </li>
            </ul>
        </nav>
    </div>
</div>
