@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.min.css";

/* fira-sans-regular - latin */
@font-face {
    font-display: block;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/fira-sans-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-sans-600 - latin */
@font-face {
    font-display: block;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    src: url('assets/fonts/fira-sans-v17-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --bs-font-sans-serif: 'Fira Sans', sans-serif;
}
